NEXT_PUBLIC_SUPABASE_URL=https://nxqkagbqqkgiuwieclrq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im54cWthZ2JxcWtnaXV3aWVjbHJxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk2MjQ2NDEsImV4cCI6MjA5NTIwMDY0MX0.A1FCEfrHyBP6YKPDtDdMqe4v04LVhtWoTh5O7eX-Csw
